apiVersion: v1
kind: PersistentVolume
metadata:
  name: terraform-sidecar-tfpjts-pv
  labels:
    app: terraform-sidecar
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: manual
  hostPath:
    path: /home/iksadnorth/project/terraform-sidecar/tfpjts

