apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: terraform-sidecar-tfpjts
  namespace: trendgetter
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: manual
  resources:
    requests:
      storage: 10Gi

